<div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Your Profile</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <!-- Experience Section-->
            <section>
                <!-- Experience Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <!-- create profile card  -->
                            <div class="col text-center text-lg-start mb-8 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">{{user.displayName|titlecase}}</div>
                                    <div class="small fw-bolder">{{user.email}}</div>
                                    <div class="small text
                                    -muted">{{user.email}}</div>
                                </div>
                            </div>
                            <div class="col-lg-4 position-relative">
                                <div class="profile-image rounded-circle overflow-hidden">
                                  <img class="img-fluid w-100 h-100" 
                                       [src]="user.photoURL ? user.photoURL : 'assets/images/user-profile.jpg'" 
                                       alt="{{user.displayName}}" />
                                </div>
                              
                                <!-- Upload Button Positioned at the Bottom Right -->
                                <label class="upload-btn btn btn-primary rounded-circle position-absolute bottom-0 end-0" style="width: 40px; height: 40px; cursor: pointer;">
                                  <i class="fas fa-upload"></i>
                                  <input type="file" (change)="uploadProfilePhoto($event)" style="opacity: 0; position: absolute; width: 100%; height: 100%; top: 0; left: 0; cursor: pointer;">
                                </label>
                              </div>
                                                        
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div *ngIf="user.role != 'admin'" class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Your Events</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <!-- Experience Section-->
            <section>
                <!-- Experience Card 1-->
                <div *ngFor="let event of events" class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-8 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="fw-bolder text-primary mb-2">{{event.title | titlecase}}</div>
                                    <div class="small fw-bolder mb-2"><strong>Date:</strong> {{ event.startDate }} TO {{ event.endDate }}</div>
                                    <div class="small fw-bolder mb-2"><strong>Time:</strong> {{ event.startTime }} TO {{ event.endTime }} </div>
                                    <ng-container *ngIf="event.participants && event.participants[user?.uid]; else joinButton">
                                        <button class="btn btn-danger" >Withdraw from Event</button>
                                    </ng-container>
                                    <ng-template #joinButton>
                                        <ng-container *ngIf="user?.role === 'organizer'; else joinButton">
                                            <button class="btn btn-primary" >Edit Event</button>
                                        </ng-container>
                                        <ng-template #joinButton>
                                            <button class="btn btn-primary">Join Event</button>
                                        </ng-template>
                                    </ng-template>
                                </div>
                            </div>
                            <div class="col-lg-4">{{event.description}}</div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>