
<!-- Projects Section-->
 <section class="py-5">
    <div class="container px-5 mb-5">
        <div class="text-center mb-5">
            <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">All Users & Qrganizers List</span></h1>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">
                <!-- Project Card 1-->
                <div *ngFor="let user of allList" class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center">
                            <div class="p-5">
                                <h2 class="fw-bolder">{{user.displayName}}</h2>
                                <p>Email: {{ user.email }}</p>
                                <p>Join At: {{ user.joinAt }}</p>
                            </div>
                            <div class="d-block">
                                <img class="img-fluid" width="140px" [src]="user.photoURL ? user.photoURL : 'assets/images/user-profile.png'" alt="{{ user.displayName }}" />
                                <hr>
                                <select #role (change)="editRole(user, role.value)" class="form-select" aria-label="Default select example">
                                    <option selected>Current Role {{user.role|titlecase}}</option>
                                    <option value="user">User</option>
                                    <option value="admin">Admin</option>
                                    <option value="organizer">Organizer</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</section>

<!-- Projects Section-->
<section class="py-5">
    <div class="container px-5 mb-5">
        <div class="text-center mb-5">
            <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Event List</span></h1>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">
                <!-- Project Card 1-->
                <div *ngFor="let event of events" class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center">
                            <div class="p-5">
                                <h2 class="fw-bolder">{{event.title}}</h2>
                                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius at enim eum illum aperiam placeat esse? Mollitia omnis minima saepe recusandae libero, iste ad asperiores! Explicabo commodi quo itaque! Ipsam!</p> -->
                                <p>{{event.description}}</p>
                                <p><strong>Date:</strong> {{event.startDate}} - {{event.endDate}}</p>
                                <p><strong>Time:</strong> {{event.startTime}} - {{event.endTime}}</p>
                                <p><strong>Organizer:</strong> {{event.organizer}}</p>
                                <button class="btn btn-warning m-2" (click)="deleteEvent(event.eventId)">Delete</button>
                                <button class="btn btn-primary" (click)="editEvent(event.eventId)">Edit</button>
                            </div>
                            <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
