.dropdown-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    width: 300px;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    padding: 10px;
    white-space: normal;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item h6 {
    margin-bottom: 5px;
    font-size: 14px;
}

.dropdown-item p {
    margin-bottom: 0;
    font-size: 12px;
}

i {
    font-size: 18px;
}

.text-muted {
    font-size: 12px;
}