<li *ngIf="fauth.userData" class="nav-item dropdown position-relative">
    <a class="nav-link" (click)="toggleNotifications()">
        <i class="bi bi-bell"></i>
        <span *ngIf="unreadNotificationsCount > 0" class="position-absolute translate-middle badge rounded-pill bg-danger">
            {{unreadNotificationsCount}}
        </span>
    </a>

    <div class="dropdown-menu dropdown-menu-end shadow-lg" [ngClass]="{'show': isNotificationsVisible}" aria-labelledby="notificationDropdown">
        <ng-container *ngIf="notifications && notifications.length > 0; else noNotifications">
            <div *ngFor="let notification of notifications" class="dropdown-item d-flex align-items-start">
                <div class="me-2">
                    <i [class]="notification.icon"></i>
                </div>
                <div>
                    <h6 class="mb-0">{{ notification.title }}</h6>
                    <small class="text-muted">{{ notification.time | date:'short'  }}</small>
                    <p class="mb-0">{{ notification.message }}</p>
                </div>
            </div>
        </ng-container>
        <ng-template #noNotifications>
            <span class="dropdown-item">No notifications</span>
        </ng-template>
    </div>
</li>
