<!-- Username : admin&#64;admin Password : Admin&#64;123 -->
<section class="py-5">
    <div class="container px-5">
        <!-- Contact form-->
        <div class="bg-light rounded-4 py-5 px-4 px-md-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                <h1 class="fw-bolder">Login Here</h1>
                <p class="fw-normal text-muted mb-0"><b>Admin Username :</b> admin&#64;admin.com | <b>Password :</b>  Admin&#64;123</p>
                <p class="fw-normal text-muted mb-0"><b>User Username :</b> user&#64;user.com | <b>Password :</b> User&#64;123</p>
                <p class="fw-normal text-muted mb-0"><b>Organizer Username :</b> organizer&#64;organizer.com | <b>Password :</b> Organizer&#64;123</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <form id="contactFormEmailPassword">
                        <div class="form-floating mb-3">
                            <input class="form-control" #email id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                            <label for="email">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" #password id="password" type="password" placeholder="Xyx@123" data-sb-validations="required,password" />
                            <label for="email">Password</label>
                        </div>
                        <div class="d-grid" (click)="this.fauth.logInWithEmailPassword(email.value, password.value)" ><button class="btn btn-primary btn-lg disabled" id="submitButtonEmailPassword" type="submit">Login With Email Password</button></div>
                    </form>
                    <hr>
                    <form id="contactFormGoogle">
                        <div class="d-grid" (click)="this.fauth.logInWithGoogle()"><button class="btn btn-primary btn-lg disabled" id="submitButtonGoogle" type="submit">Login With Google</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>